<div class="jumbotron">
    <div class="container">
      	<h1>About what we are doing here</h1>
		<p>Pedro is the owner of <a href="https:/boxedsolar.com">Boxed Solar</a> and in order to take the project further it is necessary that he learns how to program. He is looking forward to continue learning Rails, cool stuff!</p>
    </div>
</div>